.container {
  /* min-height: 100vh; */
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "WorkSans", sans-serif;
  background-image: url("/background-min.webp");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-color: #0c233d;
}

@font-face {
  font-family: "WorkSans";
  src: url("../../assets/fonts/WorkSans/WorkSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "WorkSans";
  src: url("../../assets/fonts/WorkSans/WorkSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/OpenSans/OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
}
