.hero {
  padding: 0;
  margin: 0;
  /* margin-top: 118px; */
}

.heroLabel {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #2de7d0;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.heroTitle {
  font-weight: 800;
  padding: 0;
  margin: 0;
  /* margin-top: 24px; */
  font-size: 64px;
  line-height: 76px;
  color: #ffffff;
}

.news {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 80px;
  background-color: #0d2847;
  margin-bottom: 88px;
  border-radius: 2px;

  background-image: url("/group-logo.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

/* .newsTitleAndLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.newsTitleAndLogo {
  /* position: absolute;
  top: 0;
  right: 0;
  max-width: 100%; */
  background-image: url("/group-logo.png");
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-position: 0px 0px;
}

.newLabel {
  color: #2de7d0;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  margin-bottom: 24px;
}
.newTitle {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 32px;
  line-height: 48px;
  font-weight: 800;
  margin-bottom: 16px;
}

.text {
  font-family: "OpenSans", sans-serif;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
.arrowParent {
  height: 104px;
  display: flex;
  justify-content: flex-end;
}
.arrow {
  width: 28px;
  height: 66px;
  animation-name: arrowGo;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

@keyframes arrowGo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
}

@media screen and (max-width: 479px) {
  .heroLabel {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #2de7d0;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
  }

  .heroTitle {
    font-weight: 800;
    padding: 0;
    margin: 0;
    /* margin-top: 24px; */
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
  }

  .arrowParent {
    height: 104px;
    display: flex;
    justify-content: flex-end;
  }

  .news {
    position: relative;
    padding: 0;
    margin: 0;
    padding: 64px 32px;
    background-color: #0d2847;
    margin-bottom: 80px;
    border-radius: 2px;

    background-image: url("/group-logo.svg");
    background-repeat: no-repeat;
    background-position: right top;
  }
  .newTitle {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .text {
    font-family: "OpenSans", sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .heroLabel {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: #2de7d0;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
  }

  .heroTitle {
    font-weight: 800;
    padding: 0;
    margin: 0;
    /* margin-top: 24px; */
    font-size: 64px;
    line-height: 76px;
    color: #ffffff;
  }

  .arrowParent {
    height: 104px;
    display: flex;
    justify-content: flex-end;
  }

  .news {
    position: relative;
    padding: 0;
    margin: 0;
    padding: 80px 64px;
    background-color: #0d2847;
    margin-bottom: 88px;
    border-radius: 2px;

    background-image: url("/group-logo.svg");
    background-repeat: no-repeat;
    background-position: right top;
  }
  .newTitle {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .text {
    font-family: "OpenSans", sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logoBox {
    width: 166px;
    height: 106px;
  }

  .logoImg {
    width: 106px;
    height: 70px;
  }

  .navigation {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 104px;
  }

  .contactsNav {
    font-family: "WorkSans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    margin-top: 60px;
  }

  .contactsItem {
    margin-right: 48px;
  }
  .contactsItem:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1024px) {
}
